*{
    box-sizing: border-box;
}
.DragAndDrop{
     border: 2px dashed black;
     padding: 20px;
    width: 100%;
    height: 50px;

}

.drag-n-drop-input{
    display:none;
}

.drag-input-label{
   width: 100%;
   height: 50px;
   display: block;
}
.DragAndDropColor{
    background-color: rgb(255, 136, 0);
}


